.containersidebarsection-containerpanelmenusection {
  gap: 12px;
  background-color: inherit;
  width: 275px;
  border: none;
  height: 40px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  text-decoration: none;
  outline: none;
  color: rgba(20, 20, 20, 1);
}


.containersidebarsection-text {
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
  outline: none;
}