.banner-containerbannermain {
  width: 100%;
  height: 480px;
  display: flex;
  border-radius: 12px;
  background-size: cover;
  background-image: url("../../../assets/images/banner/banner.png");
}

.banner-containerbannerbackground {
  gap: 32px;
  width: 100%;
  display: flex;
  padding: 0 40px 40px;
  flex-direction: column;
  justify-content: flex-end;
}

.banner-containerbannertitle {
  gap: 8px;
  width: 708px;
  height: 120px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.banner-text {
  color: rgba(224, 224, 224, 1);
  width: 745px;
  height: auto;
  font-size: 48px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}

.banner-containerbannersubtitle {
  width: 708px;
  height: 92px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.banner-text2 {
  color: rgba(255, 255, 255, 1);
  width: 538px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}

.banner-containerbannersearchbox {
  width: 708px;
  height: 64px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.banner-containerbannersearchbox1 {
  width: 708px;
  height: 64px;
  display: flex;
  padding: 0 8px 0 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}

.banner-containerbannersearch {
  gap: 16px;
  width: 590px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.banner-containerbannersearchboxicon {
  width: 20px;
  height: 20px;
}

.banner-containerbannersearchboxplaceholder {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.banner-text4 {
  color: rgba(114, 114, 114, 1);
  width: 554px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}




.banner-containerbanner {
  width: 960px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 512px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

/* Estilos modificados */
.banner-containerbannersearchbox1 input.form-control {
  border: none;
  box-shadow: none;
}

.banner-containerbannersearchbox1 button.btn {
  border: none;
  box-shadow: none;
  outline: none;
  /* Elimina el contorno al enfocar */
}

@media(max-width: 991px) {
  .banner-container {
    height: 484px;
  }

  .banner-containersectionbanner {
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
}