.register-container {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
}

.register-dash-board-signin {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    background-size: cover;
}

.register-containermainsignin {
    width: 100%;
    height: 735px;
    display: flex;
    padding: 20px 160px;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: center;
}

.register-containersignin {
    width: 512px;
    height: 695px;
    display: flex;
    padding: 20px 0;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.register-containersignintitle {
    width: 512px;
    height: 58px;
    display: flex;
    padding: 20px 16px 8px;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
}

.register-containerregistersectiontitle {
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.register-text {
    color: rgba(17, 20, 22, 1);
    height: auto;
    font-size: 28px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
}


.register-containerbuttomsignin {
    width: 512px;
    height: 64px;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.register-containerregistersubtext {
    width: 512px;
    height: 58px;
    display: flex;
    padding: 4px 16px 12px;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
}

.register-containerregistersectionsubtext1 {
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.register-text08 {
    color: rgba(99, 117, 135, 1);
    width: 478px;
    height: auto;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
}

.register-containersigninsubtext2 {
    width: 512px;
    height: 37px;
    display: flex;
    padding: 4px 16px 12px;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
}

.register-containerregistersectionsubtext2 {
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
}

.register-text12 {
    color: rgba(99, 117, 135, 1);
    height: auto;
    font-size: 14px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 21px;
    font-stretch: normal;
    text-decoration: none;
}

.register-containerregisterbuttom {
    width: 512px;
    height: 64px;
    display: flex;
    justify-content: center;
    padding: 12px 16px;
    align-items: center;
    flex-shrink: 0;
}

.register-containererror-message-error {
    width: 512px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4d4d;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: shake-horizontal 0.8s ease-in-out 0.2s;
}

.register-containererror-message-confirm {
    width: 512px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4d4d;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: shake-horizontal 0.8s ease-in-out 0.2s;
}


@keyframes shake-horizontal {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}